DROP VIEW IF EXISTS view_bulk_inventory_v2;
CREATE VIEW view_bulk_inventory_v2 AS
SELECT 
    bi.product_id,
    p.sku,
    p.name,
    p.barcode,
    p.image_url,
    p.brand,
    p.target_audience,
    p.product_group,
    p.season,
    p.launch_month,
    b.warehouse_id,
    SUM(bi.quantity) as total_quantity,
    SUM(bi.allocated_quantity) as total_allocated
FROM bulk_inventory bi
JOIN boxes b ON bi.box_id = b.id
JOIN products p ON bi.product_id = p.id
GROUP BY 
    bi.product_id, 
    b.warehouse_id,
    p.id, p.sku, p.name, p.barcode, p.image_url, p.brand, p.target_audience, p.product_group, p.season, p.launch_month;

GRANT SELECT ON view_bulk_inventory_v2 TO postgres, anon, authenticated, service_role;
NOTIFY pgrst, 'reload schema';

