CREATE OR REPLACE FUNCTION process_bulk_putaway(
    p_box_code TEXT,
    p_items JSONB,
    p_reference TEXT,
    p_user_id TEXT
)
RETURNS JSONB
LANGUAGE plpgsql
SECURITY DEFINER
AS \$\$
DECLARE
    v_box_id UUID;
    v_user_uuid UUID;
    v_item RECORD;
    v_restricted_count INT;
BEGIN
    -- Force Type Casting
    v_user_uuid := p_user_id::UUID;

    -- 1. Validate Box
    SELECT id INTO v_box_id 
    FROM boxes 
    WHERE code = p_box_code;
    
    IF v_box_id IS NULL THEN
        RETURN jsonb_build_object('success', false, 'error', 'Không tìm thấy thùng ' || p_box_code);
    END IF;

    IF NOT p_box_code LIKE 'INB-%' THEN
        RETURN jsonb_build_object('success', false, 'error', 'Chỉ được nhập hàng vào thùng có tiền tố INB-');
    END IF;

    -- 2. Process Items
    FOR v_item IN SELECT * FROM jsonb_to_recordset(p_items) AS x(productId UUID, qty INT, sku TEXT)
    LOOP
        -- Validate against restricted_inventory
        SELECT COUNT(*) INTO v_restricted_count 
        FROM restricted_inventory 
        WHERE sku = v_item.sku;

        IF v_restricted_count = 0 THEN
            RAISE EXCEPTION 'Sản phẩm % không thuộc diện Hàng Hạn Chế (Restricted).', v_item.sku;
        END IF;

        -- 3. Upsert into bulk_inventory
        INSERT INTO bulk_inventory (product_id, box_id, quantity, created_at)
        VALUES (v_item.productId, v_box_id, v_item.qty, NOW())
        ON CONFLICT (product_id, box_id) 
        DO UPDATE SET 
            quantity = bulk_inventory.quantity + EXCLUDED.quantity,
            created_at = NOW();

        -- 4. Log Transaction
        INSERT INTO transactions (
            type, 
            entity_type, 
            to_box_id, 
            quantity, 
            sku, 
            user_id, 
            note, 
            created_at
        )
        VALUES (
            'IMPORT',
            'BULK',
            v_box_id,
            v_item.qty,
            v_item.sku,
            v_user_uuid,
            p_reference,
            NOW()
        );
    END LOOP;

    RETURN jsonb_build_object('success', true);
EXCEPTION WHEN OTHERS THEN
    RETURN jsonb_build_object('success', false, 'error', SQLERRM);
END;
\$\$;

GRANT EXECUTE ON FUNCTION process_bulk_putaway TO anon, authenticated, service_role;

-- Force Cache Reload by touching something
COMMENT ON FUNCTION process_bulk_putaway IS 'RPC for bulk putaway v2 - reloaded at ' || NOW();

