-- 1. Thêm 'BULK' vào danh sách thực thể hợp lệ trong bảng transactions
ALTER TABLE public.transactions 
DROP CONSTRAINT IF EXISTS transactions_entity_type_check;

ALTER TABLE public.transactions 
ADD CONSTRAINT transactions_entity_type_check 
CHECK (entity_type IN ('ITEM', 'BOX', 'LOCATION', 'BULK'));

-- 2. Đảm bảo bảng kho sỉ có ràng buộc duy nhất (để cộng dồn số lượng)
ALTER TABLE public.bulk_inventory
DROP CONSTRAINT IF EXISTS bulk_inventory_product_box_unique;

ALTER TABLE public.bulk_inventory
ADD CONSTRAINT bulk_inventory_product_box_unique UNIQUE (product_id, box_id);

-- 3. Cấp lại quyền và reload
GRANT EXECUTE ON FUNCTION process_bulk_putaway TO anon, authenticated, service_role;
NOTIFY pgrst, 'reload schema';
