-- 1. Tạo hàm hỗ trợ thực thi (nếu chưa có)
CREATE OR REPLACE FUNCTION exec_sql(sql_query text)
RETURNS void
LANGUAGE plpgsql
SECURITY DEFINER
AS $$
BEGIN
  EXECUTE sql_query;
END;
$$;

-- 2. Tạo hàm nhập tồn kho sỉ
CREATE OR REPLACE FUNCTION process_bulk_putaway(
    p_box_code TEXT,
    p_items JSONB,
    p_user_id UUID,
    p_reference TEXT DEFAULT 'Ton_dau_ky'
)
RETURNS JSONB
LANGUAGE plpgsql
SECURITY DEFINER
AS $$
DECLARE
    v_box_id UUID;
    v_item RECORD;
    v_restricted_count INT;
BEGIN
    -- 1. Kiểm tra thùng
    SELECT id INTO v_box_id FROM boxes WHERE code = p_box_code;
    IF v_box_id IS NULL THEN
        RETURN jsonb_build_object('success', false, 'error', 'Không tìm thấy thùng ' || p_box_code);
    END IF;
    IF NOT p_box_code LIKE 'INB-%' THEN
        RETURN jsonb_build_object('success', false, 'error', 'Chỉ được nhập hàng vào thùng INB-');
    END IF;

    -- 2. Xử lý từng sản phẩm
    FOR v_item IN SELECT * FROM jsonb_to_recordset(p_items) AS x(productId UUID, qty INT, sku TEXT)
    LOOP
        -- Kiểm tra danh mục Restricted
        SELECT COUNT(*) INTO v_restricted_count FROM restricted_inventory WHERE sku = v_item.sku;
        IF v_restricted_count = 0 THEN
            RAISE EXCEPTION 'Sản phẩm % không thuộc diện Kho Sỉ (Restricted).', v_item.sku;
        END IF;

        -- 3. Cộng dồn vào bulk_inventory
        INSERT INTO bulk_inventory (product_id, box_id, quantity, created_at)
        VALUES (v_item.productId, v_box_id, v_item.qty, NOW())
        ON CONFLICT (product_id, box_id) 
        DO UPDATE SET quantity = bulk_inventory.quantity + EXCLUDED.quantity, created_at = NOW();

        -- 4. Lưu lịch sử giao dịch
        INSERT INTO transactions (type, entity_type, to_box_id, quantity, sku, user_id, note, created_at)
        VALUES ('IMPORT', 'BULK', v_box_id, v_item.qty, v_item.sku, p_user_id, p_reference, NOW());
    END LOOP;

    RETURN jsonb_build_object('success', true);
EXCEPTION WHEN OTHERS THEN
    RETURN jsonb_build_object('success', false, 'error', SQLERRM);
END;
$$;

-- 3. Cấp quyền
GRANT EXECUTE ON FUNCTION process_bulk_putaway TO anon, authenticated, service_role;
GRANT EXECUTE ON FUNCTION exec_sql TO service_role;

-- 4. Làm mới bộ nhớ đệm
NOTIFY pgrst, 'reload schema';
